.transactions-container {
  background-color: #121212;
  min-height: 100vh;
  padding: 2rem;
  color: white;
  margin-top: 110px; /* Compensação da topbar (60px) + sub-nav (50px) */
  width: 100%; /* Garante que cubra toda a largura */
}

.transactions-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  border-bottom: 1px solid #2c2c2c;
  padding-bottom: 10px;
}

.transactions-container ul {
  list-style: none;
  padding: 0;
}

.transactions-container li {
  background-color: #1e1e1e;
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 6px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}

.transactions-container li:hover {
  background-color: #2a2a2a;
}

.transactions-container strong {
  color: #6c63ff;
}